@charset "UTF-8";

body {
  font-family:"G마켓 산스 TTF";
  font-weight:400;
  font-size:17px;
}

header {
  height:150px;
  background:gray;
  margin-bottom:100px;
}

/* main */

/* width */
#container {
  max-width:1200px;
  margin:auto;
}

/* title */
.title h1 {
  text-align:center;
  font-size:28px;
  margin-bottom:200px;
  font-weight:300;
}

/* category */
.category_wrap {
  padding:0 15px;
  border-bottom:1px solid #d9d9d9;
}
.categorys li {
  display:inline-block;
  margin:0 40px 25px 0;
  font-weight:400;
}
.categorys li:first-child {
  margin-right:80px
}

/* sel_category */
.sel_category {
  padding:25px 15px 60px 15px;
}
.sel_category li {
  position:relative;
  display:inline-block;
  border-bottom:1.5px solid #48BFF1;
}
.sel_category li a {
  color:#48BFF1
}
  /* cancle_btn */
  .cancle_btn {   
    position:absolute;
    right:-23px;
    top:-1px;
    width:16px;
    height:16px;
    border-radius:100%;
    background:rgba(218,211,211,0.5);
  }
  .cancle_btn::after, .cancle_btn::before {
    position:absolute;
    top:8px;
    left:3px;
    display:block;
    content:"";
    width:10px;
    height:1px;
    background:#333;
    transform:rotate(45deg);
  }
  .cancle_btn::before {
    transform:rotate(135deg);
  }

/* contents */

.contents {   
  display:grid;   /* grid를 사용하면 반응형 웹을 만들기 편함(레이아웃을 따로 수정할 필요가 적어짐) */
  grid-auto-flow:row dense;
  grid-gap:30px 25px;
  grid-template-columns:repeat(3,1fr) ;
}
.content {
  border-bottom:1px rgba(218,211,211,0.3) solid;
  padding-bottom:25px;
  margin-bottom:10px;
}
.content_img_wrap {
  width:100%;
  height:358px;
  margin-bottom:30px;
}
.content_img {
  width:100%;
  height:100%;
}
.content_img img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
}
.content_text {
  padding:0 15px;
  font-weight:300;
}
.content_text p:not(:last-child) {
  margin-bottom:12px
}
.content_text .distance {
  color:#847E7E;
  font-size:16px;
}
.content_text .hash_tag {
  color:#47B1FE;
}

/* footer */
footer {
  margin-top:100px;
  height: 200px;
  background:#847E7E;
}