@charset "UTF-8";

@media (max-width:1200px){
    .pc {
        display: none;
    }
    .mobile {
        display: block;        
        width: 100%;
    }
}

@media (max-width:700px){
    .sec1_txt {
        width: 100%;
        font-size: 12px;
        margin: auto;
        
    }
}